* {
  border: none;
  border-radius: 0;

  font-family: "Noto Sans", "JetBrainsMono Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
}

button:hover {
  box-shadow: none;
  /* Remove predefined box-shadow */
  text-shadow: none;
  /* Remove predefined text-shadow */
  background: none;
  /* Remove predefined background color (white) */
  transition: none;
  /* Disable predefined animations */
}

/* MAIN CONTAINER */
window#waybar {
  background-color: rgba(50, 50, 50, 0.7);

  border-width: 2px;
  border-color: rgba(220, 220, 220, 0.3);
  border-style: solid;
  border-radius: 24px;

  transition-property: background-color;
  transition-duration: .5s;

  padding: 1px 10px;
}

/* TOOLTIP */
tooltip {
  background: rgba(43, 48, 59, 1);

  border-radius: 10px;
  border: 1px solid rgba(100, 114, 125, 0.5);

  padding: 0;

  opacity: 0.8;
}

tooltip label {
  color: #f8f8f2;
}



/* WORKSPACES */
box#workspaces {
  padding: 3px 3px;
}

#workspaces {
  font-weight: bold;

  padding: 0 1px;
  margin: 2px 0;
}

#workspaces button {
  background-color: rgba(71, 104, 127, 1);
  color: rgba(50, 50, 50, 1);
  /* Hide inactive workspace number by using same color */
  /*color: #47687f;*/

  border-radius: 8px;

  font-size: 16px;

  padding: 0px 8px;
  margin: 0 2px;

  opacity: 0.8;
}

#workspaces button.active {
  background-color: #76add4;
  background-color: rgba(118, 173, 212, 1);
  color: rgba(50, 50, 50, 1);

  transition: all 0.3s ease-in-out;

  opacity: 0.9;
}

#workspaces button:hover {
  /* Remove predefined background color (white) */
  background: #76add4;
}

/* MODULE CONTAINERS */
box.horizontal.modules-left {
  color: #76add4;

  margin: 2px 0 2px 20px;
}

box.horizontal.modules-right {
  color: #76add4;

  margin: 2px 20px 2px 0;
}

/* INDIVIDUAL MODULES */

#custom-appmenu {
  background-color: #374151;
  color: #76add4;

  border-radius: 8px;

  padding: 0px 10px 0px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#pulseaudio,
#network,
#backlight,
#battery,
#clock,
#tray,
#custom-settings {
  background-color: #374151;
  color: #76add4;

  border-radius: 8px;

  font-weight: bold;

  padding: 0px 10px 0px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 5px;
}

#media {
  background-color: #374151;

  border-radius: 8px;

  font-weight: bold;

  margin: 3px 8px 3px 8px;
}

#custom-mediatrack {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
}

#custom-media-prev {
  margin-left: 10px;
}

#custom-media-next {
  margin-right: 10px;
}

#custom-media-play-pause {
  background-color: #374151;

  border-radius: 999px;

  margin: 0px 15px 0px 15px;
}

#custom-taskbar-icon {
  background-color: #374151;
  color: #76add4;

  border-radius: 8px;

  padding: 0px 10px 0px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#tray {
  background-color: #374151;
  color: #76add4;

  border-radius: 8px;

  padding: 0px 10px 0px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#custom-power {
  background-color: #374151;
  color: #76add4;

  border-radius: 999px;

  padding: 0px 10px 0px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#custom-left-divider {
  margin-left: 10px;
  margin-right: 10px;
}
